<section class="mod as-seen">
    <div class="row align-center align-middle text-center">
        <div class="columns small-12 medium-4">
            <div class="logo-wrap" data-aos="fade-up"><img src="assets/images/logo-forbes.png" width="139" height="29" /></div>
        </div>
        <div class="columns small-12 medium-4">
            <div class="logo-wrap" data-aos="fade-up" data-aos-delay="200"><img src="assets/images/logo-real-simple.svg" width="219" height="25" /></div>
        </div>
        <div class="columns small-12 medium-4">
            <div class="logo-wrap" data-aos="fade-up" data-aos-delay="400"><img src="assets/images/logo-mcc.png" width="134" height "58"/></div>
        </div>
    </div>
</section>