<section class="mod grid text-center">
        <h2>Guarantees you:</h2>
        <div class="row align-center align-top">
            <div class="columns small-12 medium-6 large-4" data-aos="fade-up" data-aos-delay="100">
                <div class="grid-icon-alignment">
                    <div class="grid-icon-inner">
                        <img src="assets/images/icon-money.svg" class="grid-icon" alt="" />
                    </div>
                </div>
                <div class="description">
                    <p>Average revenue increase after 1 year with Owners Up: 108%</p>
                </div>
            </div>
            <div class="columns small-12 medium-6 large-4" data-aos="fade-up" data-aos-delay="200">
                <div class="grid-icon-alignment">
                    <div class="grid-icon-inner">
                        <img src="assets/images/icon-clock.svg" class="grid-icon" alt="" />
                    </div>
                </div>
                <div class="description">
                    <p>A resource library filled with bite-sized, actionable content you can apply to immediately improve
                        your business</p>
                </div>
            </div>
            <div class="columns small-12 medium-6 large-4" data-aos="fade-up" data-aos-delay="300">
                <div class="grid-icon-alignment">
                    <div class="grid-icon-inner">
                        <img src="assets/images/icon-graph.svg" class="grid-icon" alt="" />
                    </div>
                </div>
                <div class="description">
                    <p>See growth everyday by tracking your lessons, revenue, accomplishments</p>
                </div>
            </div>
            <div class="columns small-12 medium-6 large-4" data-aos="fade-up" data-aos-delay="100">
                <div class="grid-icon-alignment">
                    <div class="grid-icon-inner">
                        <img src="assets/images/icon-contact.svg" class="grid-icon" alt="" />
                    </div>
                </div>
                <div class="description">
                    <p>The opportunity for quarterly in-person meetups</p>
                </div>
            </div>
            <div class="columns small-12 medium-6 large-4" data-aos="fade-up" data-aos-delay="200">
                <div class="grid-icon-alignment">
                    <div class="grid-icon-inner">
                        <img src="assets/images/icon-feedback.svg" class="grid-icon" alt="" />
                    </div>
                </div>
                <div class="description">
                    <p>Receive honest feedback, individualized attention and full commitment.</p>
                </div>
            </div>
            <div class="columns small-12 medium-6 large-4" data-aos="fade-up" data-aos-delay="300">
                <div class="grid-icon-alignment">
                    <div class="grid-icon-inner">
                        <img src="assets/images/icon-trophy.svg" class="grid-icon" alt="" />
                    </div>
                </div>
                <div class="description">
                    <p>A personalized action plan to achieve the results you want in 90 days.</p>
                </div>
            </div>
        </div>
    </section>