<section class="mod home-banner">
    <div class="row align-center align-middle large-collapse">
        <div class="column small-10 text-center no-pad-left no-pad-right">
            <h1 class="title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">Where Solopreneurs Team Up and Grow Faster</h1>
            <div class="row align-center">
                <div class="column large-8">
                    <div class="description" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
                        <p>Solve your biggest challenges by tapping into other smart business owners and facilitators who have
                            helped build million dollar companies.</p>
                    </div>
                    <div class="button-wrap" data-aos="fade-up" data-aos-delay="2000" data-aos-duration="1000">
                        <a href="application.html" class="button fill">Sign Up & Accelerate Your Growth</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>