<section class="mod icon-steps">
    <div class="row align-center text-center">
        <div class="columns small-12 medium-12 large-10">
            <h2>How OwnersUp Works</h2>
            <div class="icon-steps-desc">
                <p>OwnersUP helps you build highly effective habits to succeed in your goals.</p>
            </div>
        </div>
    </div>
    <div class="icon-step" data-aos="fade-up">
        <div class="row align-center align-middle">
            <div class="columns small-12 medium-12 large-3">
                <img src="assets/images/icon-monthly.svg" width="206" height="190" />
            </div>
            <div class="columns small-12 medium-12 large-7">
                <h3 class="icon-step-title">Goal Mapping & Monthly Review Meeting </h3>
                <div class="icon-step-desc">
                    <p>Each person sets their monthly goals, gets feedback and input from facilitator and their team of solopreneurs.
                        As a team, we break down the goals to weekly actionable steps. At the end of the month, we celebrate
                        our achievements and share lessons learned.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-step" data-aos="fade-up">
        <div class="row align-center align-middle">
            <div class="columns small-12 medium-12 large-3">
                <img src="assets/images/icon-weekly.svg" width="206" height="189" />
            </div>
            <div class="columns small-12 medium-12 large-7">
                <h3 class="icon-step-title">Video Call </h3>
                <div class="icon-step-desc">
                    <p>Each person sets their monthly goals, gets feedback and input from facilitator and their team of solopreneurs.
                        As a team, we break down the goals to weekly actionable steps. At the end of the month, we celebrate
                        our achievements and share lessons learned. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-step" data-aos="fade-up">
        <div class="row align-center align-middle">
            <div class="columns small-12 medium-12 large-3">
                <img src="assets/images/icon-daily.svg" width="206" height="182" />
            </div>
            <div class="columns small-12 medium-12 large-7">
                <h3 class="icon-step-title">Journal Entry</h3>
                <div class="icon-step-desc">
                    <p>Every weekday you write down your business activities and lessons learned. Those Journal entries turn
                        into charts that shed light on the focus of your business highlighting strengths and weakness.</p>
                </div>
            </div>
        </div>
    </div>
</section>