<section class="mod list-cards">
    <div class="row align-center text-center">
        <div class="columns small-10 medium-10 large-8">
            <h2>What Does It Take to Succeed in OwnersUp? </h2>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-6 large-5">
            <div class="list-card" data-aos="fade-right">
                <div class="card-wrap">
                    <div class="card-title text-center">Your Business & Time</div>
                    <div class="card-items">
                        <ul>
                            <li>Runs a service-based company as a sole founder</li>
                            <li>Earns $50k to $2mm+ in revenue each year</li>
                            <li>Embraces “tough love,” because we hold nothing back</li>
                            <li>Craves transparency</li>
                            <li>Consistently optimizes their business</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns large-2 text-center show-for-large">
            <div class="plus" data-aos="zoom-in-up"><img src="assets/images/icon-plus.svg" widht="63" height="63" /></div>
        </div>
        <div class="columns small-12 medium-6 large-5">
            <div class="list-card" data-aos="fade-left">
                <div class="card-wrap">
                    <div class="card-title text-center">Your Personal Values</div>
                    <div class="card-items">
                        <ul>
                            <li>Can commit to 1hr per week to our video calls</li>
                            <li>Wants to work on your biz as much as in your biz</li>
                            <li>Possesses grit, that perfect combo passion and perseverance</li>
                            <li>Works well alone but even better when supporting and being supported by others</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>