<section class="mod quote-slider">
    <div class="row align-center align-middle">
        <div class="columns small-12">
            <div class="swiper-container" id="quote-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide text-center">
                        <div class="row align-center">
                            <div class="columns small-9">
                                <div class="quote-icon">
                                    <img src="assets/images/quote-howard-adam-levy.png" class="quote-by-img" />
                                </div>
                                <div class="quote-by text-center">Howard Adam Levy | Red Rooster Group</div>
                                <blockquote>
                                    <p>"It's been great to get feedback from a dedicated group of enthusiastic entrepreneurs
                                        that have your best interests in mind. There's always a great exchange of ideas that
                                        leave you charged for the week."</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide text-center">
                        <div class="row align-center">
                            <div class="columns large-9">
                                <div class="quote-icon" data-swiper-parallax="-100">
                                    <img src="assets/images/quote-howard-adam-levy.png" class="quote-by-img" data-swiper-parallax="-200" />
                                </div>
                                <div class="quote-by text-center" data-swiper-parallax="-300">Howard Adam Levy | Red Rooster Group</div>
                                <blockquote data-swiper-parallax="-300">
                                    <p>"It's been great to get feedback from a dedicated group of enthusiastic entrepreneurs
                                        that have your best interests in mind. There's always a great exchange of ideas that
                                        leave you charged for the week."</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>