<section class="mod simple-quote">
    <div class="row align-center align-middle">
        <div class="columns large-9 text-center">
            <h1>The Investment</h1>
            <div class="quote-icon">
                <img src="assets/images/quote-howard-adam-levy.png" class="quote-by-img" />
            </div>
            <div class="quote-by text-center">Michael | smallpondenterprise.com </div>
            <blockquote>
                <p>OwnersUp motivates you to take charge of your business and helps you meet others who are as passionate as
                    you are. It's a program that will help you grow your business faster and more efficiently than any "networking
                    group." </p>
            </blockquote>
        </div>
    </div>
</section>