<section class="mod stats">
    <div class="row align-center">
        <div class="columns small-12 large-7 text-center">
            <h2>It is more effective and fun to succeed with an OwnersUP team on your side.</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="columns small-12 medium-6 large-3">
            <div class="stat" data-aos="fade-up" data-aos-delay="100">
                <div class="stat-title">+25K</div>
                <div class="stat-desc">Accomplishments Tracked</div>
            </div>
        </div>
        <div class="columns small-12 medium-6 large-3">
            <div class="stat" data-aos="fade-up" data-aos-delay="200">
                <div class="stat-title">+300</div>
                <div class="stat-desc">Goals achieved that increased their bottom line</div>
            </div>
        </div>
        <div class="columns small-12 medium-6 large-3">
            <div class="stat" data-aos="fade-up" data-aos-delay="300">
                <div class="stat-title">+8K</div>
                <div class="stat-desc">Lessons Shared</div>
            </div>
        </div>
        <div class="columns small-12 medium-6 large-3">
            <div class="stat" data-aos="fade-up" data-aos-delay="400">
                <div class="stat-title">+33%</div>
                <div class="stat-desc">Increase in the first 3 months of our members revenues</div>
            </div>
        </div>
    </div>
</section>