<section class="mod steps">
    <div class="row align-center text-center">
        <div class="columns medium-12 large-10">
            <h2>Our Fast-Track Method to Success</h2>
        </div>
    </div>
    <div class="row align-middle align-center">
        <div class="columns small-12 medium-12 small-order-2 large-order-1 large-5" data-aos="fade-right">
            <div class="step-num">1</div>
            <div class="step-title">Receive Effective Personalized Feedback</div>
            <div class="step-desc">
                <p>Get expert advice that is actionable, measureable, and tailored for your unique business challenges with
                    expert OwnersUP facilitators who have helped grow businesses into the millions.</p>
            </div>
        </div>
        <div class="columns small-12 medium-12  medium-offset-0 small-order-1 large-order-2 large-6 large-offset-1" data-aos="fade-left">
            <div class="step-img">
                <img src="assets/images/fast-track-1.png" />
            </div>
        </div>
    </div>
    <div class="row align-middle">
        <div class="columns small-12 medium-12 small-order-2 large-order-1 large-5" data-aos="fade-right">
            <div class="step-num">2</div>
            <div class="step-title">Receive Your Own Problem Solving Team</div>
            <div class="step-desc">
                <p>Connect with solopreneurs who know exactly what it is like to walk in your shoes and whose skills and knowledge
                    complement your own. Thanks to your fellow OwnersUP teammates, you’ll spot business opportunities and
                    obstacles that would have taken you years to find on your own.</p>
            </div>
        </div>
        <div class="columns small-12 medium-12  medium-offset-0 small-order-1 large-order-2 large-6 large-offset-1" data-aos="fade-left">
            <div class="step-img">
                <img src="assets/images/fast-track-2.png" />
            </div>
        </div>
    </div>
    <div class="row align-middle">
        <div class="columns small-12 medium-12 small-order-2 large-order-1 large-5" data-aos="fade-right">
            <div class="step-num">3</div>
            <div class="step-title">Receive Concrete Results</div>
            <div class="step-desc">
                <p>As much as we love our pow-wows, we know that qualitative information isn’t enough. That’s why our OwnersUP
                    dashboard makes the qualitative quantifiable. We reveal exactly how you allocate your time. Better yet,
                    we measure your time commitments against your bottom line so you know where your effort counts.</p>
            </div>
        </div>
        <div class="columns small-12 medium-12 medium-offset-0 small-order-1 large-order-2 large-6 large-offset-1" data-aos="fade-left">
            <div class="step-img">
                <img src="assets/images/fast-track-3.png" />
            </div>
        </div>
    </div>
</section>