<section class="mod video-slider">
    <div class="row align-center align-middle">
        <div class="columns large-12 text-center">
            <div class="swiper-container" id="video-slider-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="ytplayer">
                            <iframe width="853" height="480" src="https://www.youtube.com/embed/FiO65xWDXy8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                                allowfullscreen></iframe>
                        </div>
                        <div class="team-intro">
                            Meet Our Solopreneurs
                        </div>
                        <div class="team-name">
                            Jill ~ Casting Firm
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="ytplayer">
                            <iframe width="853" height="480" src="https://www.youtube.com/embed/FiO65xWDXy8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
                                allowfullscreen></iframe>
                        </div>
                        <div class="team-intro" data-swiper-parallax="-100">
                            Meet Our Solopreneurs
                        </div>
                        <div class="team-name" data-swiper-parallax="-350">
                            Jill ~ Casting Firm
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>