<footer class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="nav nav-pills pull-right"></div>
    </div>
  </div>
</footer>
<script>
  var _ss = _ss || [];
  _ss.push(['_setDomain', 'https://koi-3Q7SJEIZWO.marketingautomation.services/net']);
  _ss.push(['_setAccount', 'KOI-3QI8I429FS']);
  _ss.push(['_trackPageView']);
  (function() {
      var ss = document.createElement('script');
      ss.type = 'text/javascript'; ss.async = true;

      ss.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'koi-3Q7SJEIZWO.marketingautomation.services/client/ss.js?ver=1.1.1';
      var scr = document.getElementsByTagName('script')[0];
      scr.parentNode.insertBefore(ss, scr);
  })();
</script>
