<header id="main-header" data-sticky-container>
    <nav class="sticky" data-sticky data-margin-top="0" data-sticky-on="small">
        <div class="nav-inner">
            <div class="row align-middle">
                <div class="column small-12 medium-3 large-3 text-left">
                    <div id="main-logo">
                        <a href="new.html"><img src="assets/images/ownersup-logo-white.svg" width="227" height="42" /></a>
                        <button type="button" class="menu-icon show-for-small-only" data-toggle="offCanvasLeft"></button>
                    </div>
                </div>
                <div class="column hide-for-small-only large-4 large-offset-5 text-right">
                    <ul id="main-nav">
                        {% include new_menu_items.html %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>