<footer id="main-footer">
    <div class="row">
        <div class="columns small-12 small-order-3 medium-order-1 medium-3 large-2 text-left">
            <div id="footer-logo">
                <a href="new.html"><img src="/assets/images/ownersup-logo-alt.png" width="162" height="30" /></a>
            </div>
        </div>
        <div class="columns small-12 small-order-2  medium-order-2 medium-6 large-7 text-left">
            <ul id="footer-nav">
                <li><a href="/about">About Us</a></li>
                <li><a href="http://support.ownersup.com" target="_blank">FAQ</a></li>
                <li><a href="https://blog.ownersup.com/" target="_blank">Blog</a></li>
            </ul>
        </div>
        <div class="columns small-12 small-order-1  medium-order-3 medium-3 large-3 text-right">
            <div id="footer-right">
                <a href="newsletter.html" class="button hollow green">Subscribe To Newsletter</a>
            </div>
        </div>
    </div>
</footer>

<script>
  init();
</script>

{% include snippets/active-campaign-tracking.html %}
