---
layout: default
bodyClasses: interior page postpage
---

<section class="journalmasthead">
    <h3 align="center"><a href="/blog">The Entrepreneur’s Journey</a></h3>
</section>

<section class="mod page">
<div class="row" style="padding-top:1px;">
  <div class="socialfloating">{% include share-bar.html %}</div>
  <div id="primary" class="content-area columns large-9">
    <article class="page type-page status-publish hentry">
      {% if page.title %}
        <h1 class="page-title">{{ page.title }}</h1>
        <p class="postdate">{{ page.date | date: '%b %d' }}, by {{ page.post_author }}</p>
      {% endif %}
      {{ content }}
      <div class="socialfooter">{% include share-bar.html %}</div>
    </article>
  </div><!-- /primary -->
  <div id="secondary" class="widget-area large-3" role="complementary">
    <aside id="text-2" class="widget widget_text">
      <h3 class="widget-title">Popular</h3>
      <div class="textwidget">
        <ul>
        {% for post in site.posts limit:3 where:"most_popular","true" %}
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </aside>
    <aside id="text-2" class="widget widget_text">
      <h3 class="widget-title">Topics</h3>
      <div class="textwidget">
        <ul>
        {% for tag in page.tags %}
            <li> {{tag}} </li>
        {% endfor %}
        </ul>
      </div>
    </aside>
  </div><!-- /secondary -->
</div><!-- /row -->
</section>