---
layout: default
bodyClasses: interior page postpage
---
<section class="journalmasthead">
    <h3 align="center"><a href="/blog">The Solopreneur’s Journal</a></h3>
</section>
<section class="mod page">
  <div class="row align-center">
    <div class="columns large-12">
      {% if page.title %}
        <h1 class="page-title">{{ page.title }}</h1>
      {% endif %}
      {{ content }}
    </div>
  </div>
</section>

<div id="share-buttons">
    <p>SHARE THIS</p>
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://ownersup.com{{page.url}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://ownersup.com{{page.url}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://ownersup.com{{page.url}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=https://ownersup.com{{page.url}}" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>
</div>